DATABASE_URI="mongodb+srv://Mogaka_dev:manyara5766@wasify-data.vss96.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
DATABASE_NAME=wasify-users
DATABASE_HOST=cluster0.blah.mongodb.net
DATABASE_NAME=wasify-users
DATABASE_USERNAME=admi
DATABASE_PASSWORD=yourpassword
